{% extends "layout.html" %}

{% block title %}Adoption d'animaux - JBerger Allemand{% endblock %}

{% block content %}
<br>
<h1> Animaux prêts pour l'adoption </h1>

  {% if not animals %}
    <h2 class="offset-md-2 col-md-6 list-group-item">Aucun animaux.</h2>
  {% else %}
	<ul class="list-group">
    {% for animal in animals %}
      <li class="offset-md-4 col-md-4 list-group-item">
        <a href="/animal/{{animal.id}}"><h3 style="width: 250px; display:block; margin: 0 auto;"> {{ animal.name }} </h3></a>
        <br>
        <img class="img-fluid" style="width: 250px; display:block; margin: 0 auto;" src="/animals/images/{{ animal.id }}" class="rounded" alt=" {{ animal.nom }}">
      </li>
      <br>
    {% endfor %}
	</ul>
  {% endif %}

{% endblock %}
