{% from "_formhelpers.html" import render_field %}

{% extends "layout.html" %}

{% block title %}Adoption{% endblock %}
{% block content %}

<h1>Mise en Adoption</h1>
{% if error %}
  <div class="alert alert-danger">
    <strong>Erreur!</strong> {{ error }}
  </div>
{% endif %}
<div class="row">
  <div class="col-sm-8">
    <form id="adoptionForm" method="post" action="/adoption/" enctype="multipart/form-data">
		  {{ render_field(form.name) }}
      <span style="color:red" id="error_name"></span>
		  {{ render_field(form.type) }}
      <span style="color:red" id="error_type"></span>
		  {{ render_field(form.race) }}
      <span style="color:red" id="error_race"></span>
		  {{ render_field(form.age) }}
      <span style="color:red" id="error_age"></span>
		  {{ render_field(form.description) }}
      <span style="color:red" id="error_description"></span>
      <div class="form-group row">
 		    <label for="photo" class="col-4 col-form-label">Photo</label>
 		    <div class="col-8" id="photo_div">
          <input class="form-control" id="photo" name="photo_name" type="file"></input>
 		    </div>
      </div>
		  <input type="submit" class="btn btn-success" value="Mettre en adoption">
	  </form>
  </div>
</div>

{% endblock %}
