{% from "_formhelpers.html" import render_field %}

{% extends "layout.html" %}

{% block title %}Adopter {{ animal.name }} le {{ animal.type }} - JBerger Allemand{% endblock %}

{% block content %}

<h1>Page de {{ animal.name }}</h1>
<div class="row">
	<div class="col-md-6">
		<img style="max-width: 90%;" src="/animals/images/{{ animal.id }}">
	</div>
	<div class="col-md-6">
		<p>Nom: {{ animal.name }}</p>
		<p>Type d'animal: {{ animal.type }}</p>
		<p>Race: {{ animal.race }}</p>
		<p>Age: {{ animal.age }} ans</p>
		<p>{{ animal.description }}</p>
	</div>
</div>
<div class="row">
	<div class="col-sm-8">
		<h2>Contacter le propriétaire de {{ animal.name }}</h2>
		<form id="contactForm" method="post" action="/contact/">
			{{ render_field(form.name) }}
			{{ render_field(form.source_email) }}
			{{ render_field(form.phone_number) }}
			{{ render_field(form.message) }}
			<input type="hidden" name="animal_id" value="{{ animal.id }}">
			<input type="submit" class="btn btn-success" value="Contacter le propriétaire!">
		</form>
	</div>
</div>
{% endblock %}
