{% extends "layout.html" %}

{% block title %}Nos animaux disponibles pour l'adoption - JBerger Allemand{% endblock %}

{% block content %}

{% if search %}
	<h1>Résultats pour {{ search }}</h1>
{% else %}
	<h1>Tous les Animaux Disponibles</h1>
{% endif %}
	<div>
	{% if not animals %}
		{% if search %}
		<h2>Désolé, nous n'avons aucun animal correspondant à {{ search }}</h2>
		{% else %}
		<h2>Désolé, il n'y a présentement aucun animal disponbible</h2>
		{% endif %}
	{% else %}
		<ul class="list-group">
		{% for animal in animals %}
		<a style="width:100%; height: 100%" href="/animal/{{animal.id}}">
		<li class="offset-md-4 col-md-4 list-group-item">
			<h3 style="width: 450px; display:block; margin: 0 auto;"> {{ animal.name }} </h3>
			<br>
			<img class="img-fluid" style="width: 450px; display:block; margin: 0 auto;" src="/animals/images/{{ animal.id }}" class="rounded" alt=" {{ animal.nom }}">
			<p>{{ animal.description }}</p>
		</li>
		</a>
		{% endfor %}
		</ul>
	{% endif %}
	</div>
	<div class="row mt-4">
		<div class="col-sm-offset-6 col-sm-10 row">
			<div class="col-sm-6">
				{% if pagination.prev %}
					{% if search %}
						<a class="btn btn-primary float-right" href="/animals/search/page/{{pagination.prev}}?search={{ search }}">&lt Page Précédente</a>
					{% else %}
						<a class="btn btn-primary float-right" href="/animals/page/{{pagination.prev}}">&lt Page Précédente</a>
					{% endif %}
				{% endif %}
			</div>
			<div class="col-sm-4">
				{% if pagination.next %}
					{% if search %}
						<a class="btn btn-primary float-right" href="/animals/search/page/{{pagination.next}}?search={{ search }}">Page Suivante &gt</a>
					{% else %}
						<a class="btn btn-primary float-right" href="/animals/page/{{pagination.next}}">Page Suivante &gt</a>
					{% endif %}
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
