{% extends "layout.html" %}

{% block title %}Erreur - JBerger Allemand adoption d'animaux{% endblock %}

{% block content %}

<h1>Erreur...</h1>

<h5>Nous sommes contre les usines d'animaux domestiques. Veuillez attendre que votre premier animal ait
  été adopté avant d'en mettre un autre en adoption.
</h5>

{% endblock %}
