{% extends "layout.html" %}

{% block title %}Erreur de Connexion - JBerger Allemand adoption d'animaux{% endblock %}

{% block content %}

<h1>Erreur lors de la connexion</h1>

<h5>
  <div class="alert alert-danger">
    <strong>Erreur!</strong> {{ error_signin }}
  </div>
</h5>

{% endblock %}
