{% from "_formhelpers.html" import render_field %}

{% extends "layout.html" %}

{% block content %}

<h1>Réinitialisation du mot de passe</h1>
<h4 class="mt-3 mb-4">Nous vous enverrons un courriel avec les instructions pour réinitialiser votre
  mot de passe.</h4>

{% if error %}
  <div class="alert alert-danger">
    <strong>Erreur!</strong> {{ error }}
  </div>
{% endif %}
<div class="row">
  <div class="col-sm-8">
    <form id ="passwordForm" method="post" action="/reset_password/submit">
      {{ render_field(form.email) }}
      <span style="color:red" id="error_email"></span>
      <br/>
      <input type="submit" class="btn btn-success" value="M'envoyer un courriel">
    </form>
  </div>
</div>

{% endblock %}
