<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/static/js/script.js"></script>
  </head>
  <body>
    <nav class="navbar bg-dark navbar-expand-sm navbar-dark">
      <div class="container-fluid">
        <ul class="navbar-nav navbar-left">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">JBerger Allemand</a>
        </div>
          <li class="nav-item">
            <a class="nav-link" href="/animals/">Tous nos animaux</a>
          </li>
          {% if email %}
            <li class="nav-item">
              <a class="nav-link" href="/adoption">Mettre en adoption</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profil">Profil</a>
            </li>
          {% endif %}
        </ul>
        <ul class="navbar-nav navbar-right" >
          <li>
            <form class="form-inline" action="/animals/search">
              <input type="text" class="form-control mr-sm-2" placeholder="Recherche" name="search">
              <button class="btn btn-success" type="submit">Lancer</button>
            </form>
          </li>
        <!-- dropdown menu inspired by : https://www.bootply.com/chipbaker/ncRqZSi0Wd# -->
          <li class="dropdown">
            {% if email %}
            <button class="btn dropdown-toggle" data-toggle="dropdown">{{ email }}</button>
            <ul class="dropdown-menu">
              <li>
                <div class="form-group">
                  <span class="pull-right"><a href="/logout">Se déconnecter</a></span>
                </div>
              </li>
            </ul>
            {% else %}
              <button class="btn dropdown-toggle" data-toggle="dropdown">Se connecter</button>
              <ul class="dropdown-menu">
                <li>
                  {% from "_formhelpers.html" import render_field %}
                  <form method="post" class="navbar-form form" action="/connexion">
                    {{ render_field(signin_form.connect_email) }}
                    {{ render_field(signin_form.connect_password) }}
                    <div class="form-group">
                      <button type="submit" class="btn btn-primary form-control">Se connecter</button>
                    </div>
                  </form>
                  <div class="form-group">
                    <span class="pull-right"><a href="/inscription">S'inscrire</a></span>
                  </div>
                  <div class="form-group">
                    <span class="pull-right"><a href="/reset_password">Mot de passe oublié?</a></span>
                  </div>

                </li>
              </ul>
            {% endif %}
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">

      {% block content %}{% endblock %}

    </div>
  </body>
</html>
