{% from "_formhelpers.html" import render_field %}

{% extends "layout.html" %}

{% block content %}

<h1>Réinitialisation du mot de passe</h1>
{% if error %}
  <div class="alert alert-danger">
    <strong>Erreur!</strong> {{ error }}
  </div>
{% endif %}
<div class="row">
  <div class="col-sm-8">
    <form id ="resetPasswordForm" method="post">
      {{ render_field(form.password) }}
      <span style="color:red" id="error_password"></span>
      <br/>
      <input type="submit" class="btn btn-success" value="Réinitialiser mon mot de passe">
    </form>
  </div>
</div>

{% endblock %}
