{% from "_formhelpers.html" import render_field %}

{% extends "layout.html" %}

{% block title %}Inscription - JBerger Allemand adoption d'animaux{% endblock %}

{% block content %}

<h1>Inscription</h1>
{% if error %}
  <div class="alert alert-danger">
    <strong>Erreur!</strong> {{ error }}
  </div>
{% endif %}
<div class="row">
  <div class="col-sm-8">
    <form id ="signupForm" method="post" action="/inscription/submit">
		  {{ render_field(form.first_name) }}
      <span style="color:red" id="error_firstname"></span>
		  {{ render_field(form.last_name) }}
      <span style="color:red" id="error_lastname"></span>
		  {{ render_field(form.phone_number) }}
      <span style="color:red" id="error_phone"></span>
		  {{ render_field(form.address) }}
      <span style="color:red" id="error_address"></span>
		  {{ render_field(form.email) }}
      <span style="color:red" id="error_email"></span>
		  {{ render_field(form.password) }}
      <span style="color:red" id="error_pwd"></span>
      </br>
		  <input type="submit" class="btn btn-success" value="M'inscrire">
	  </form>
  </div>
</div>

{% endblock %}
