{% extends "layout.html" %}

{% block title %}Vous êtes inscrit! - JBerger Allemand adoption d'animaux{% endblock %}

{% block content %}

<h1>Inscription effectuée</h1>

<h3>Vous pouvez désormais vous connecter, merci!</h3>

{% endblock %}
