{% from "_formhelpers.html" import render_field %}

{% extends "layout.html" %}

{% block title %}Modifier mon profil - JBerger Allemand adoption d'animaux{% endblock %}

{% block content %}

<h1>Profil</h1>
{% if error %}
  <div class="alert alert-danger">
    <strong>Erreur!</strong> {{ error }}
  </div>
{% endif %}
<div class="row">
	<div class="col-sm-8">
		<form id="updateForm" method="post" action="/profil/submit" >
			{{ render_field(form.first_name) }}
      <span style="color:red" id="error_firstname"></span>
			{{ render_field(form.last_name) }}
      <span style="color:red" id="error_lastname"></span>
			{{ render_field(form.phone_number) }}
      <span style="color:red" id="error_phone"></span>
			{{ render_field(form.address) }}
      <span style="color:red" id="error_address"></span>
      <div class="form-group row">
        <label for="{{ form.email.id }}" class="col-4 col-form-label">{{ form.email.label }}</label>
        <div class="col-8" id="{{ form.email.id }}_div">
          <p>{{ form.email(readonly=true) }}</p>
        </div>
      </div>
			<input type="submit" class="btn btn-success" value="Sauvegarder les changements">
		</form>
	</div>
</div>

{% endblock %}
